# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
full_df = pd.read_csv('jeopardy.csv')
print(full_df.columns)
#note the whitespace before the beginning of each column title 
full_df = full_df.rename(columns = {" Show Number": "Show Number", " Air Date": "Air Date", " Round": "Round", " Category": "Category", \
                                    ' Value': "Value",' Question': "Question", ' Answer': "Answer"})
print(full_df.head(10))

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200
5         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS  $200
6         4680  2004-12-31  Jeopardy!                          HISTORY  $400
7         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $400
8         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $400
9         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $400

                                                                                                        Question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           Answer
0      Copernicus
1      Jim Thorpe
2         Arizona
3      McDonald's
4      John Adams
5         the ant
6  the Appian Way
7  Michael Jordan
8      Washington
9  Crate & Barrel

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [3]:
def filter_df(df, wordlist):
    
    #This is the "filter" - returns true if all words in the wordlist are present in input "x"
    filter = lambda x: all(word in x for word in wordlist)
    
    # Using df.loc in this instance will sort by booleans - will only return if true\
    # i.e. if all words are in df['Question']
    return df.loc[df['Question'].apply(filter)]

filtered = filter_df(full_df, ['England', 'King'])
print(filtered['Question'])

4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                            This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                                 this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                         William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
33294                 (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                    This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                   This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                       Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                  (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                        He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                          He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                              On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                            He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                         This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                            This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                   It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                            In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                     If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                              King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                                Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                  This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                              King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                    This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                        The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                       During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                        The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                       The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                                In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                            This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                          His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                            A capital in the West Indies is named for this family name of William of Orange, King of England
186239                                                                                                                                                                                                                                           He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
187651                                                                                                                                                                                                                                                                     This Bahamian capital took its name from the family name of King William III of England
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
194516                                                                                                                                                                                                                                                            The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England
200369                                                                                                                                                                                                                                             8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
Name: Question, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [4]:
#Edit filter function so that it is not case sensitive using .lower()
def filter_df(df, wordlist):
    
    filter = lambda x: all((word.lower()) in (x.lower()) for word in wordlist)
    
    # Using df.loc in this instance will sort by booleans - will only return if true\
    # i.e. if all words are in df['Question']
    return df.loc[df['Question'].apply(filter)]

filtered = filter_df(full_df, ['England', 'King'])
print(filtered['Question'])

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: Question, Length: 152, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [5]:
#Cannot convert direct from current strings to floats due to "$" and "," (e.g. $2,000)
#Therefore, need to remove these items from string
#Also an issue with some Values being "none", which cannot directly become a float. Need to add an if/else to account for this
full_df['float_value'] = full_df['Value'].apply(lambda x: float(x.replace("$", "").replace(",", "")) if x!= 'None' else 0)

filtered = filter_df(full_df, ['King'])
average_value_filtered = filtered["float_value"].mean()
print(average_value_filtered)

771.8833850722094

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [6]:
unique_answer = (filtered.groupby('Answer').Value.count().reset_index()).sort_values(by='Value', ascending=False)
print(unique_answer) 
#Note: did not use a function as instructed, elected to practice using groupby
#Example answer wrote a function using df['Answer'].value_counts(), which I was not familiar with

                Answer  Value
1543        Henry VIII     55
2963           Solomon     35
2723       Richard III     33
2070         Louis XIV     31
1027             David     30
...                ...    ...
1951     L. Frank Baum      1
1950           L'chaim      1
1949        Königsberg      1
1948  Kung Pao Chicken      1
5267           zombies      1

[5268 rows x 2 columns]

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [7]:
#Investigate the ways in which questions change over time by filtering by the date.\
#How many questions from the 90s use the word "Computer" compared to questions from the 2000s?
def filter_by_decade(df, decade):
    filter = lambda x: decade in x
    return df.loc[df["Air Date"].apply(filter)]

#Use original filtered function, which filters by Question words
nineties_filtered = filter_df(filter_by_decade(full_df, "199"), ['Computer'])
print(nineties_filtered.Value.count())
#Cf 2000s
TwoK_filtered = filter_df(filter_by_decade(full_df, "200"), ['Computer'])
print(TwoK_filtered.Value.count())

98
268

In [8]:
#Is there a connection between the round and the category?
#Are you more likely to find certain categories, like "Literature" in Single Jeopardy or Double Jeopardy?
def filter_by_category(df, word):
    filter = lambda x: word in x
    return df.loc[df["Category"].apply(filter)]
round_category = filter_by_category(full_df, "LITERATURE").groupby("Round").Category.count().reset_index().rename(columns={"Category": "\"Literature\" Count"})
print(round_category)
#Compare with groupby numbers for full_df
total_rounds = full_df.groupby("Round").Category.count().reset_index().rename(columns={"Category": "Total Count"})
print(total_rounds)
#Will ignore tiebreaker rounds
merged = pd.merge(round_category, total_rounds)

#Now will create the proportion column to put the "Literature" Count in context
merged["Percentage Proportion of total"] = (merged["\"Literature\" Count"]/merged['Total Count'])*100
print(merged)
#This shows that the higher stakes the round, the more frequent the literature category becomes - perhaps indicating it tends to be more challengin?
#Test this function with "MYTHOLOGY" category
round_category = filter_by_category(full_df, "MYTHOLOGY").groupby("Round").Category.count().reset_index().rename(columns={"Category": "\"Mythology\" Count"})
merged = pd.merge(round_category, total_rounds)
merged["Percentage Proportion of total"] = (merged["\"Mythology\" Count"]/merged['Total Count'])*100
print(merged)

              Round  "Literature" Count
0  Double Jeopardy!                1054
1   Final Jeopardy!                  82
2         Jeopardy!                 423
              Round  Total Count
0  Double Jeopardy!       105912
1   Final Jeopardy!         3631
2         Jeopardy!       107384
3        Tiebreaker            3
              Round  "Literature" Count  Total Count  \
0  Double Jeopardy!                1054       105912
1   Final Jeopardy!                  82         3631
2         Jeopardy!                 423       107384

   Percentage Proportion of total
0                        0.995166
1                        2.258331
2                        0.393913
              Round  "Mythology" Count  Total Count  \
0  Double Jeopardy!                260       105912
1   Final Jeopardy!                 12         3631
2         Jeopardy!                133       107384

   Percentage Proportion of total
0                        0.245487
1                        0.330487
2                        0.123855

In [35]:
#Creating a quiz game. 1) Write code that grabs random question from full_df; 2) write input function which takes answer;\
#3) check input answer == full_df['Answer']; 4) return correct or incorrect

#To return a random row from full_df, will use .sample() method (https://pandas.pydata.org/docs/user_guide/indexing.html?highlight=random#selecting-random-samples)
random_row = full_df.sample()
random_question = random_row['Question']
user_answer = input(str(random_question)).lower()
correct_answer = str(random_row['Answer']).strip().lower()

if user_answer in correct_answer:
    print("correct")
else:
    print("incorrect")

#Will leave it as is for the timebeing. Some more work possible on formatting etc.
#I also cannot seem to figure out why it will not work as a boolean rather than "in" operator. It works between two strings in the basic example below:
A = "Apples"
B = "Apples"
if str(A) == str(B):
        print("Correct")
else:
        print("Incorrect")

12976    A large, deep vessel for holding liquids such as dye
Name: Question, dtype: objecttube
incorrect
Correct

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.

Correct